.memeBtnFlex {
  display: flex;
  justify-content: space-evenly;
}

.memeBtn {
  margin-left: 2%;
}

@media screen and (max-width: 1000px) {
  .memeBtnFlex {
    flex-direction: column;
  }
}

@media screen and (max-width: 766px) {
  .memeBtn {
    max-width: 25%;
    align-self: center;
  }
}
