/* Home page */
.meme-container {
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  grid-gap: 10px;
}

.meme-item {
  overflow: hidden;
}

.meme-image {
  width: 100%;
  height: auto;
}
